body
{
    text-align: center; 
    font-family: "curier";
    color:red;
    font-size: 16px;
    margin: 0;
    padding:0;
}

#cabecera
{
    background: #33c;
    color: white;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 2px 50px 0px rgba(65, 55, 55, 0.75)
}


#container
{
    width: 70%; /* este es el ancho del container*/
    padding: 0; /* ancho de los vordes */
    text-align: left; /* texto alineado a la izquierda del container  */
    border: 1px solid #ddd; /* le colocamos un vorde para poder verlo */
    margin: 1% auto; /*el primero es para que este la ditancia del borde de arriba 
                        y el auto para que se centrara*/
}

#container h1
{
    font-size: 20px;
}

#post
{

}